/* COLORS */

$black: #000;
$white: #fff;
$red: #CC0000;

$color-pro: #a5d65a;
$color-con: #ce0201;

$color-rep: #D41B2C;
$color-dem: #006EB5;

/* FONTS */

$primary-title: "TrimPoster-Slender", "trim-poster", sans-serif;
$secondary-title:  "BrauerNeue-Regular", "brauerneue", sans-serif;
$body-font: "Akkurat", sans-serif;
