/* COLORS */

$black: #000;
$white: #fff;
$red: #CC0000;

/* FONTS */

$primary-title: "TrimPoster-Slender", "trim-poster", sans-serif;
$secondary-title:  "BrauerNeue-Regular", "brauerneue", sans-serif;
$body-font: "Akkurat", sans-serif;
