* {
    font-family:$body-font;
}

.d3-chart {
    svg {
        text {
            font-family:$body-font;
        }
    }

    h3 {
        font-size:150%;
    }

    h2, h3, h4, h5, h6 {
        margin-top:0;
    }

    h5, h6 {
        font-weight: normal;
    }

}



div.tooltip {
       position: absolute;
       text-align: center;
       padding: 5px;
       font-size: 14px;
       font-weight: bold;
       background: lightsteelblue;
       border: 0px;
       border-radius: 8px;
       font-family: "Akkurat",sans-serif;
   }

   .tooltip p {
       margin: 0;
       padding: 0;
   }
