body {
  background-color: #fff;
  padding-bottom: 1000px; }

.pinned-content {
  height: 1000px;
  padding: 40px; }
  .pinned-content.first {
    background-color: #f9d9d9; }
  .pinned-content.second {
    background-color: #d9e6f9; }
  .pinned-content.third {
    background-color: #d9f9db; }

#customScene {
  height: 1000px;
  padding: 40px;
  background-color: #ccc; }
  #customScene.custom-active {
    background-color: #307FB5; }

.box {
  width: 200px;
  height: 150px;
  background-color: #d9e6f9;
  border: 10px solid #234c93; }
