
* {
	color: #333;
	font-family: "akkurat", -apple-system, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

th {
	text-align:left;
}

th > *:nth-child(2) {
	font-size:40px;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#interactive {
	max-width:700px;
	margin: 0 auto;
}

@media only screen and (min-width: 601px) {

	td.infocell {
	    width: 13%;
	}

	td.infocell:nth-child(1){
	    width: 30%;
	}

	td.infocell:nth-child(4),
	td.infocell:nth-child(5) {
	    width: 22%;
	}

	th {
		vertical-align: bottom;
		border-bottom:2px solid #222;
	}
} /* large-screen table */

@media only screen and (max-width: 600px) {
	table, thead, tbody, th, td, tr {
		display: block;
	}
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px  solid #ccc;
		margin-bottom:1.5rem;
	}
	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		font-size:1.25rem;
		line-height:2.25rem;
		padding-top:12px;
		padding-left:5px;
	}
	td:before {
		position: absolute;
		top: -5px;
		/* left: 6px; */
		width: 100%;
		font-size:0.75rem;
		text-transform:uppercase;
	}
	td:nth-of-type(1):before { content: "City"; }
	td:nth-of-type(2):before { content: "Population"; }
	td:nth-of-type(3):before { content: "Population Density"; }
	td:nth-of-type(4):before { content: "Acres of Parkland Per 1000 Residents";}
	td:nth-of-type(5):before { content: "Percent of Residents within Half-Mile of Park";}

	.infocell {
		font-size:1.2rem;
		font-weight: 700;
		color: darkgreen;
	}

	.infocell:before {
		font-size:0.75rem;
		text-transform:uppercase;
		font-weight:normal;
		color: black;
	}
} /* end mobile table */

text.circlelegendTitle {
	font-size:0.81rem;
	margin-bottom:10px;
}

.legendContainer {
	border: 1px solid #bbb;
	border-radius: 3px;
	width: fit-content;
	width: max-content;
	padding:10px 10px 5px 10px;
	margin:0 auto 2rem;
}

circle.circleswatch {
	opacity: 0.8;
	stroke: #000000;
}

.interactivefilter {
	padding:10px;
	background-color: #eee;
}

.interactivefilter span {
	font-size:0.8rem;
}

.interactivefilter input {
	width: 100%;
}
